/**
 * Customizer
 */

:root {
	--theme-background-color: #ffffff;
	--theme-text-color: #111111;
	--theme-secondary-text-color: rgba(51, 51, 51, 0.7);
	--theme-heading-color: #111111;
	--theme-link-color: #999999;
	--theme-link-hover-color: #bbbbbb;
	--theme-link-color-alt: #ffffff;
	--theme-border-color: rgba(51, 51, 51, 0.2);
	--theme-border-focus-color: rgba(51, 51, 51, 0.5);
	--theme-button-background-color: #999999;
	--theme-button-text-color: #ffffff;
	--theme-button-background-hover-color: #bbbbbb;
	--theme-button-background-hover-color-alt: #e2401c;
	--theme-button-text-hover-color: #ffffff;
	--theme-header-background-color: #ffffff;
	--theme-header-text-color: #111111;
	--theme-header-secondary-text-color: rgba(51, 51, 51, 0.3);
	--theme-header-link-color: #111111;
	--theme-header-link-hover-color: #999999;
	--theme-menu-background-color: rgba(255, 255, 255, 0);
	--theme-menu-color: #111111;
	--theme-menu-background-hover-color: rgba(255, 255, 255, 0);
	--theme-menu-hover-color: #999999;
	--theme-menu-background-active-color: rgba(255, 255, 255, 0);
	--theme-menu-active-color: #999999;
	--theme-submenu-background-color: #dddddd;
	--theme-submenu-text-color: #111111;
	--theme-top-background-color: #ffffff;
	--theme-top-text-color: #111111;
	--theme-top-link-color: #999999;
	--theme-top-link-hover-color: #bbbbbb;
	--theme-footer-background-color: #ffffff;
	--theme-footer-text-color: #111111;
	--theme-footer-heading-color: #111111;
	--theme-footer-link-color: #111111;
	--theme-footer-link-hover-color: #999999;
}