@use 'sass:math';

/**
 * General
 */
.woocommerce {
	.woocommerce-breadcrumb {
		margin-bottom: 1em;
	}

	a.added_to_cart {
		display: inline-block;
		padding: 0.4278em 1.25em;
		border-style: solid;
		border-width: 1px;
		border-radius: 2px;
		color: inherit;
		cursor: pointer;
		text-decoration: none;
	}

	a.remove {
		display: block;
		width: 18px;
		height: 18px;
		font-size: 18px;
		line-height: 1;

		svg {
			color: var(--theme-button-background-color);
			vertical-align: middle;
		}

		&:hover svg {
			color: var(--theme-button-background-hover-color-alt);
		}
	}

	.quantity .qty {
		width: 4.25em;
		text-align: center;
	}
}

/**
 * Shop tables
 */
.woocommerce {
	table.shop_table_responsive {

		thead th {
			display: none;
		}

		tbody th {
			display: block
		}

		tr td {
			display: block;
			text-align: right;
			clear: both;

			&::before {
				content: attr(data-title) ": ";
				float: left;
			}

			&.product-remove {
				a {
					text-decoration: none;
				}

				&::before {
					display: none;
				}
			}

			&.actions::before {
				display: none;
			}

			&.download-actions {
				&::before {
					display: none;
				}

				.button {
					display: block;
					text-align: center;
				}
			}
		}
	}
}

/**
 * Products
 */
.woocommerce {
	ul.products {
		margin: 0;
		padding: 0;

		li.product {
			list-style: none;
			text-align: center;

			img {
				margin: 0 auto 20px;
			}

			.woocommerce-loop-product__link {
				display: block;
				text-decoration: none;
			}

			.woocommerce-loop-product__title {
				font-size: 0.875rem;
				/* 14px */
			}

			.price {
				display: block;
				margin-bottom: 1em;
			}

			.onsale {
				position: absolute;
				right: -10px;
				top: -10px;
				width: 60px;
				height: 60px;
				font-size: 11px;
				line-height: 5;
				background-color: var(--theme-badge-background-color);
				border-radius: 100%;
				color: var(--theme-badge-text-color);
				text-align: center;
				text-transform: uppercase;
				transform: rotate(20deg);
				z-index: 10;
			}

			.out-of-stock-badge {
				position: absolute;
				right: -10px;
				top: -10px;
				width: 60px;
				height: 60px;
				font-size: 11px;
				line-height: 1.1;
				background-color: var(--theme-badge-background-color);
				border-radius: 100%;
				z-index: 10;

				span {
					position: absolute;
					top: 50%;
					left: 50%;
					color: var(--theme-badge-text-color);
					transform: translate(-50%, -50%) rotate(20deg);
				}
			}
		}
	}
}

.woocommerce-pagination {
	text-align: center;

	.page-numbers {
		position: relative;
		margin: 0;
		padding: 0 0.6667em;
	}

	.prev,
	.next {
		display: inline-block;
		position: absolute;
		top: 0;
		text-decoration: none;
	}

	.prev {
		left: 0;
	}

	.next {
		right: 0;
	}
}

/**
 * Single Product
 */
.single-product div.product {
	position: relative;

	.onsale {
		position: absolute;
		left: 10px;
		top: 10px;
		width: 60px;
		height: 60px;
		font-size: 11px;
		line-height: 5;
		background-color: var(--theme-badge-background-color);
		border-radius: 100%;
		color: var(--theme-badge-text-color);
		text-align: center;
		text-transform: uppercase;
		z-index: 10;
	}

	.images,
	.summary {
		margin-bottom: 2.617924em;
		margin-top: 0;
	}

	.woocommerce-product-gallery {
		margin-bottom: 2.617924em;
		margin-top: 0;
		position: relative;

		.woocommerce-product-gallery__trigger {
			display: block;
			position: absolute;
			top: 1em;
			right: 1em;
			width: 36px;
			height: 36px;
			background-color: var(--theme-button-background-color);
			border-radius: 100%;
			text-decoration: none;
			text-indent: -9999px;
			z-index: 99;

			&::before {
				position: absolute;
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				border: 2px solid var(--theme-button-text-color);
				border-radius: 100%;
				top: 9px;
				left: 9px;
				box-sizing: content-box;
			}

			&::after {
				position: absolute;
				content: '';
				display: block;
				width: 2px;
				height: 8px;
				background-color: var(--theme-button-text-color);
				border-radius: 6px;
				top: 19px;
				left: 22px;
				transform: rotate(-45deg);
				box-sizing: content-box;
			}
		}

		.woocommerce-product-gallery__image {
			a {
				display: block;
			}
		}

		.flex-viewport {
			margin-bottom: 1em;
		}

		.flex-control-thumbs {
			margin: 0;
			padding: 0;

			li {
				list-style: none;
				cursor: pointer;
				float: left;
				margin-right: 2%;
				margin-bottom: 2%;

				img {
					opacity: .5;

					&.flex-active {
						opacity: 1;
					}
				}

				&:hover img {
					opacity: 1;
				}
			}
		}

		@for $i from 2 through 6 {
			&.woocommerce-product-gallery--columns-#{$i} .flex-control-thumbs li {
				width: math.div(100% - (($i - 1) * 2%), $i);

				&:nth-child(#{$i}n) {
					margin-right: 0;
				}

				&:nth-child(#{$i}n+1) {
					clear: both;
				}
			}
		}
	}

	form.cart {
		margin-bottom: 1.618em;
		padding: 1em 0;

		.quantity {
			float: left;
			margin-right: .875em;
		}

		table.woocommerce-grouped-product-list {

			th:not(:last-child),
			td:not(:last-child) {
				border-right: 0;
			}

			.woocommerce-grouped-product-list-item__label {
				overflow-wrap: anywhere;
				word-break: break-word;
			}

			.woocommerce-grouped-product-list-item__price .stock {
				margin-bottom: 0;
			}
		}
	}

	table.variations {
		table-layout: fixed;
		margin-bottom: 1em;
		border: 0;

		th,
		td {
			display: list-item;
			padding: 0;
			border: 0;
			list-style: none;
		}

		.value {
			margin-bottom: 1em;
		}

		select {
			max-width: 60%;
			vertical-align: middle;
		}

		a.reset_variations {
			margin-left: 1em;
			text-decoration: none;
		}
	}

	.variations_button {
		padding-top: 1em;
	}
}

.stock {
	&:empty::before {
		display: none;
	}

	&.in-stock {
		color: var(--theme-in-stock-color);
	}

	&.out-of-stock {
		color: var(--theme-out-of-stock-color);
	}
}

.related>h2:first-child,
.upsells>h2:first-child {
	margin-bottom: 2em;
}

.pswp__caption {
	display: none;
}

/**
 * Cart
 */
table.cart .product-thumbnail img {
	margin: 0 auto;
	max-width: 5em;
	height: auto;
}

.woocommerce,
.woocommerce-page {

	#content table.cart td.actions .coupon,
	table.cart td.actions .coupon {
		text-align: left;
	}

	#content table.cart td.actions .input-text,
	table.cart td.actions .input-text {
		width: auto;
	}
}

.woocommerce ul.woocommerce-shipping-methods {
	margin-left: 0;
	list-style-type: none;

	li {
		margin-left: 0;

		input {
			margin-right: 5px;
		}
	}
}

.cart-collaterals {
	.shipping-calculator-form {
		margin: 1em 0 0 0;
	}
}

.wc-proceed-to-checkout .button {
	float: right;
}

/**
 * Checkout
 */
.woocommerce-checkout {
	clear: both;
}

#customer_details {
	h3 {
		margin-top: 1em;
	}
}

#order_review_heading {
	margin-top: 1em;
}

#order_review {
	.woocommerce-shipping-methods {
		margin-bottom: 0;
	}
}

#payment {
	border: 1px solid var(--theme-border-color);
	padding: 1em;

	.payment_box::before {
		display: none;
	}

	.payment_methods {
		list-style: none;
		margin-left: 0;

		li {
			margin-left: 0;

			label {
				cursor: pointer;
			}

			img {
				float: right;
				border: 0;
				padding: 0;
				max-height: 1.618em;
			}

			.payment_box {
				padding: 0.5em 0;
				font-style: italic;

				p {
					margin-bottom: 0.5em;
				}
			}
		}
	}

	.woocommerce-terms-and-conditions {
		margin-bottom: 16px;
		padding: 0.4278em;
		background-color: var(--theme-background-color);
		border: 1px solid var(--theme-border-color);
	}
}

/**
 * General WooCommerce components
 */

/**
 * Header cart
 */
.site-header-cart {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

	.cart-contents {
		display: inline-block;
		background-color: transparent;
		height: auto;
		width: auto;
		padding: 10px 0;
		color: var(--theme-menu-color);
		font-size: 0.875rem;
		/* 14px */
		text-decoration: none;

		.cart-button {
			position: relative;
			display: flex;

			.cart-badge {
				position: absolute;
				top: -5px;
				right: -5px;
				width: 15px;
				color: var(--theme-badge-text-color);
				background-color: var(--theme-badge-background-color);
				border-radius: 100%;
				font-size: 0.563rem;
				/* 9px */
				line-height: 15px;
				text-align: center;
			}
		}
	}

	&:hover .cart-contents,
	&:focus .cart-contents {
		color: var(--theme-menu-hover-color);
	}

	.widget_shopping_cart {
		display: none;

		.product_list_widget {
			display: block;
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
}

.widget_shopping_cart {
	padding: 1em;
	font-size: 0.8125rem;
	/* 13px */
	border: 1px solid var(--theme-border-color);

	.product_list_widget li {
		position: relative;
		width: 100%;
		padding: 1em;
		text-align: left;

		&::after,
		&::before {
			content: '';
			display: table;
		}

		&::after {
			clear: both;
		}

		img {
			float: right;
			max-width: 50px;
			margin-left: 5px;
		}

		>a {
			display: block;
		}

		a.remove {
			position: relative;
			float: left;
			margin-right: 5px;
		}
	}

	.buttons,
	.total,
	.woocommerce-mini-cart__empty-message {
		margin: 0;
		padding: 1em;
	}

	.total {
		display: flex;
		justify-content: space-between;
	}

	.buttons .button {
		display: block;

		&:nth-child(odd) {
			margin-bottom: .6180469716em;
		}
	}
}

/**
 * Product Search
 */
.menu-item-object-product_search_icon .search-wrap {
	display: none;
	position: relative;
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: WooCommerce;
	font-weight: 400;

	&::before {
		content: '\53\53\53\53\53';
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;

		&::before {
			content: '\53\53\53\53\53';
			top: 0;
			position: absolute;
			left: 0;
			color: var(--theme-active-star-color);
		}
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&::before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: WooCommerce;
			content: '\53';
			color: var(--theme-inactive-star-color);
			text-indent: 0;
			opacity: .25;
		}

		&:hover~a::before {
			content: '\53';
			color: var(--theme-inactive-star-color);
			opacity: .25;
		}
	}

	&:hover a::before {
		content: '\53';
		color: var(--theme-active-star-color);
		opacity: 1;
	}

	&.selected a {
		&.active {
			&::before {
				content: '\53';
				color: var(--theme-active-star-color);
				opacity: 1;
			}

			~a::before {
				content: '\53';
				color: var(--theme-inactive-star-color);
				opacity: .25;
			}
		}

		&:not(.active)::before {
			content: '\53';
			color: var(--theme-active-star-color);
			opacity: 1;
		}
	}
}

/**
 * Tabs
 */
.woocommerce-tabs {
	ul.tabs {
		list-style: none;
		padding: 0;
		margin: 0 0 1.618em;
		overflow: hidden;
		position: relative;

		li {
			display: inline-block;
			position: relative;
			z-index: 0;
			margin: 0 -5px;
			padding: 0 1em;

			a {
				display: inline-block;
				padding: 0.5em 0;
				font-weight: 700;
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}

			&.active {
				z-index: 2;
				border-bottom-width: 2px;
				border-bottom-style: solid;

				a {
					color: inherit;
					text-shadow: inherit;
				}
			}
		}

		&::before {
			position: absolute;
			content: ' ';
			width: 100%;
			bottom: 0;
			left: 0;
			border-bottom: 1px solid rgba(51, 51, 51, 0.2);
			z-index: 1;
		}
	}

	.panel {
		margin: 0 0 2em;
		padding: 0;

		h2 {
			display: none;
		}

		.woocommerce-product-attributes {
			border: 0;
		}

		.woocommerce-product-attributes-item {

			th,
			td {
				display: list-item;
				padding: 0 1em;
				border: 0;
				list-style: none;
			}
		}
	}
}

/**
 * Reviews
 */
#reviews {
	ol.commentlist {
		margin: 0;
		width: 100%;
		list-style: none;
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: var(--theme-strong-password-color);
	}

	&.good {
		color: var(--theme-good-password-color);
	}

	&.short,
	&.bad {
		color: var(--theme-bad-password-color);
	}
}

/**
 * Forms
 */
.form-row {
	&.woocommerce-validated input.input-text {
		box-shadow: inset 2px 0 0 var(--theme-input-valid-color);
	}

	&.woocommerce-invalid input.input-text {
		box-shadow: inset 2px 0 0 var(--theme-input-invalid-color);
	}
}

/**
 * Notices
 */
.woocommerce-notices-wrapper {
	margin-bottom: 3em;

	&:empty {
		display: none;
	}
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	background-color: var(--theme-message-background-color);
	border-left: 2px solid var(--theme-notice-message-color);
	clear: both;
	margin: 0 0 1em 0;
	padding: 1em;
	overflow: hidden;

	&:focus-visible {
		outline-style: dotted;
		outline-width: 1px;
	}
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	border-color: var(--theme-info-message-color);
}

.woocommerce-error {
	border-color: var(--theme-error-message-color);
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: var(--theme-message-background-color);
	z-index: 9999;
}

/**
 * WooCommerce widgets
 */

/**
 * WooCommerce Product Search
 */
.woocommerce-product-search {
	position: relative;

	button {
		bottom: 0;
		overflow: hidden;
		padding: 0 10px;
		position: absolute;
		right: 0;
		top: 0;
	}

	svg {
		vertical-align: middle;
	}
}

/**
 * WooCommerce Price Filter
 */
.widget_price_filter {
	.price_slider {
		margin-bottom: 1.5em;
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.4em;

		.button {
			float: left;
		}
	}

	.ui-slider {
		position: relative;
		text-align: left;

		.ui-slider-handle {
			position: absolute;
			z-index: 2;
			width: 1em;
			height: 1em;
			cursor: ew-resize;
			outline: none;
			background-color: var(--theme-ui-slider-color);
			border-radius: 100%;
			box-sizing: border-box;
			margin-top: -.25em;
			opacity: 1;

			&:last-child {
				margin-left: -1em;
			}

			&:hover,
			&.ui-state-active {
				box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
			}
		}

		.ui-slider-range {
			position: absolute;
			z-index: 1;
			display: block;
			border: 0;
			background-color: var(--theme-ui-slider-color);
		}
	}

	.price_slider_wrapper .ui-widget-content {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.ui-slider-horizontal {
		height: .5em;

		.ui-slider-range {
			height: 100%;
		}
	}
}

/**
 * WooCommerce blocks
 */

/**
 * WooCommerce Product Collection
 */
.wp-block-woocommerce-product-collection {
	li {
		margin-left: 0;
	}
}

/**
 * WooCommerce Mini Cart
 */
.wc-block-mini-cart__button {
	padding: 0 0.5em 0 0;

	&:hover:not([disabled]),
	&:focus:not([disabled]) {
		background: none;
		border: none;
		color: inherit;
	}
}

.wc-block-mini-cart__badge {
	color: var(--theme-badge-text-color) !important;
	font-size: 0.625rem !important;
}

/**
 * Media Queries
 */

/**
 * Tablet Small 740px
 */
@media screen and (min-width: 46.25em) {

	.woocommerce {
		table {

			&.shop_table,
			&.shop_table_responsive {
				border-width: 1px 1px 0 1px;

				thead {
					display: table-header-group;
				}

				tbody th {
					display: table-cell;
				}

				tr {

					th,
					td {
						text-align: left;
						border-width: 0 0 1px 0;
						display: table-cell;
						vertical-align: middle;

						&::before {
							display: none;
						}
					}
				}
			}
		}
	}

	.col2-set {
		.form-row-first {
			float: left;
			margin-right: 3.8%;
		}

		.form-row-last {
			float: right;
			margin-right: 0;
		}

		.form-row-first,
		.form-row-last {
			width: 48.1%;
		}
	}
}

/**
 * Tablet Large 880px
 */
@media screen and (min-width: 55em) {

	#customer_details.col2-set {
		width: 47%;
		float: left;
		margin-right: 3%;

		.col-1,
		.col-2 {
			float: none;
			width: 100%;
		}
	}

	#order_review_heading,
	#order_review {
		width: 50%;
		float: right;
		margin-right: 0;
		clear: right;
	}

}

/**
 * Desktop Small 955px
 */
@media screen and (min-width: 59.6875em) {

	.site-header-cart {
		text-align: left;

		.widget_shopping_cart {
			display: block;
			position: absolute;
			top: 100%;
			left: -999em;
			right: 0;
			width: 100%;
			min-width: 300px;
			background-color: var(--theme-header-background-color);
			opacity: 0;
			transition: opacity 0.15s ease-out;
			z-index: 999999;
		}

		&:hover .widget_shopping_cart,
		&:focus .widget_shopping_cart {
			left: auto;
			opacity: 1;
		}
	}

	.menu-item-object-product_search_icon .search-wrap {
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		min-width: 250px;
	}

}