/**
 * Colors
 */

:root {
	--theme-highlight-color: #fff9c0;
	--theme-required-color: #c0392b;
	--theme-input-background-color: #ffffff;
	--theme-input-text-color: #111111;
	--theme-input-valid-color: #0f834d;
	--theme-input-invalid-color: #e2401c;

	--theme-in-stock-color: #0f834d;
	--theme-out-of-stock-color: #e2401c;
	--theme-strong-password-color: #0f834d;
	--theme-good-password-color: #3d9cd2;
	--theme-bad-password-color: #e2401c;
	--theme-active-star-color: #ffb900;
	--theme-inactive-star-color: #404040;
	--theme-message-background-color: #f1f1f1;
	--theme-notice-message-color: #0f834d;
	--theme-info-message-color: #3d9cd2;
	--theme-error-message-color: #e2401c;
	--theme-ui-slider-color: #999999;
	--theme-badge-background-color: #999999;
	--theme-badge-text-color: #ffffff;
}